.btn {
  display: inline-block;
  text-decoration: none;
  color: grey;
  width: 15rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.25rem;
  background-color: rgb(255,255,255);
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background-color: rgba(220,220,220, .9);
  }
}
