.footer-nav {
  width: 80%;  
  &__container {
    display: flex;
    justify-content: space-between;
    list-style: none;
  
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
  }

  &__header {
    margin-bottom: 1.5rem;
    color: rgba(78, 77, 77, 0.856);
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  &__link-container {
    margin-bottom: .5rem;
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: rgb(173, 173, 173);
  }
}