.order-summary {
  width: 30rem;
  &__container {
    display: flex;
    flex-direction: column;
    background-color: rgba(247, 247, 247, 0.9);
    color: rgba(160, 160, 160, 0.9);
    font-size: 2rem;
    border-radius: 3px;
    margin-bottom: 2rem;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    border-bottom: 2px solid rgba(160, 160, 160, .1);
    &-header {
      font-weight: 300;
      font-size: 2rem;
    }
  }
  
  &__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgba(50, 50, 50, .9);
    height: 6rem;
  }

  &__subtotal {
  }
  
  &__amount {


  }

  &__button {
    width: 100%;
    @include btn();
  }

}
