.slides {
  position: relative;
  height: 85vh;
  // &__container {
  // }
  &__item {
    height: 85vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

      &-1 {
        background-image: url("../img/slide-show-1.jpg");
        animation: fade1 25s infinite;
        
      }
      &-2 {
        background-image: url("../img/slide-show-2.jpg");
        animation: fade2 25s infinite;
      }
      &-3 {
        background-image: url("../img/slide-show-3.jpg");
        animation: fade3 25s infinite;
      }
      &-4 {
        background-image: url("../img/slide-show-4.jpg");
        animation: fade4 25s infinite;
      }
      &-5 {
        background-image: url("../img/slide-show-5.jpg");
        animation: fade5 25s infinite;
      }
      
      &-title {
        font-size: 7rem;
        color: rgb(255, 255, 255)
      }
  }

  &__btn {
    position: absolute;
    top: 60%;
    left: 43%;

  }
}


